.top-nav .container-fluid {
	background-color: black;
}

.navbar-light .navbar-nav .nav-link {
	word-break: keep-all;
}

.navbar-light .navbar-nav {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}



.navbarContent {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
}

.navbarContent>.navbar-toggler {
	margin-left: auto;
}

.dropdownTransparent {
	width: 100%;
	height: 12px;
	background: transparent;
	position: absolute;
	top: 100%;
}


.navbar-main {
	padding-left: 1rem;
	padding-right: 1rem;

}

@media screen and (max-width: 992px) {
	.navbar-light .navbar-nav {

		align-items: flex-start;
		flex-wrap: wrap;
	}

	.nav-item {
		width: 100%;
	}

}