.input-container {
  width: 48%;
}

.input_label {
  font-size: 18px;
  width: 100%;
}

.input-required {
  color: red;
}

.input-field {
  border-radius: 10px;
  height: 50px;
  width: 100%;
  gap: 16px;
  padding: 7px 26px 7px 20px;
  margin-right: 10px;
  border: 2px solid #d9d9d9;
}

@media (max-width: 860px) {
  .input-container {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .input-container {
    width: 100%;
  }
}
