body {
  padding: 0;
  margin: 0;
  background: #fff;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

a:hover {
  text-decoration: none;
}

input[type="button"],
input[type="submit"],
.contact-form input[type="submit"] {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

label {
  margin: 0;
}

img {
  width: 100%;
}


/*-- navigation --*/
.top-nav {
  position: absolute;
  z-index: 9;
  width: 100%;
  padding: 0em 0;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
  font-size: 18px;
  margin: 0 .2em;
  padding: 10px 12px;
  border: 1px solid transparent;
  font-weight: 400;
}

.dot {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(/images/dott.png)repeat 0px 0px;
  background-size: 2px;
  -webkit-background-size: 2px;
  -moz-background-size: 2px;
  -o-background-size: 2px;
  -ms-background-size: 2px;
}

p strong {
  color: #333;
  margin-right: .5em;
}

.dot1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 90px;
  background: url(/images/dott.png)repeat 0px 0px;
  background-size: 2px;
  -webkit-background-size: 2px;
  -moz-background-size: 2px;
  -o-background-size: 2px;
  -ms-background-size: 2px;
}

.text-18 {
  font-size: 18px;
}

.border-bottom-3 {
  border-bottom: 3px solid #fff;
}